.elementor-6 .elementor-element.elementor-element-52c240b {
    margin-top: -102px;
    margin-bottom: 0;
    overflow: visible
}

.elementor-6 .elementor-element.elementor-element-8541bfa>.elementor-widget-container {
    margin: -10px 0 0
}

.elementor-6 .elementor-element.elementor-element-2690de2 {
    margin-top: 0;
    margin-bottom: 0;
    /* padding: 80px 0 0; */
    overflow: visible
}

.elementor-6 .elementor-element.elementor-element-7d8b806 .xs-heading {
    text-align: center
}

.elementor-6 .elementor-element.elementor-element-7d8b806 .xs-heading .section-title {
    font-weight: 700
}

.elementor-6 .elementor-element.elementor-element-d186241 {
    padding: 0 0 85px;
    overflow: visible
}

.elementor-6 .elementor-element.elementor-element-af7e844>.elementor-element-populated {
    text-align: center
}

.elementor-6 .elementor-element.elementor-element-af7e844>.elementor-element-populated>.elementor-widget-wrap {
    padding: 10px 30px
}

.elementor-6 .elementor-element.elementor-element-d8c0e9d .why-choose-us-block {
    text-align: center
}

.elementor-6 .elementor-element.elementor-element-d8c0e9d .why-choose-us-block .xs-content-title,
h4 {
    font-family: nunito, Sans-serif;
    font-size: 1.25rem;
    font-weight: 700
}

.elementor-6 .elementor-element.elementor-element-82eda63>.elementor-element-populated {
    text-align: center
}

.elementor-6 .elementor-element.elementor-element-82eda63>.elementor-element-populated>.elementor-widget-wrap {
    padding: 10px 30px
}

.elementor-6 .elementor-element.elementor-element-6d96648 .why-choose-us-block {
    text-align: center
}

.elementor-6 .elementor-element.elementor-element-6d96648 .why-choose-us-block .xs-content-title,
h4 {
    font-family: nunito, Sans-serif;
    font-size: 1.25rem;
    font-weight: 700;
    letter-spacing: -.2px
}

.elementor-6 .elementor-element.elementor-element-923a80d>.elementor-element-populated {
    text-align: center
}

.elementor-6 .elementor-element.elementor-element-923a80d>.elementor-element-populated>.elementor-widget-wrap {
    padding: 10px 30px
}

.elementor-6 .elementor-element.elementor-element-889caab .why-choose-us-block {
    text-align: center
}

.elementor-6 .elementor-element.elementor-element-889caab .why-choose-us-block .xs-content-title,
h4 {
    font-size: 1.25rem
}

.elementor-6 .elementor-element.elementor-element-06eb3a5:not(.elementor-motion-effects-element-type-background),
.elementor-6 .elementor-element.elementor-element-06eb3a5>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url(../../2020/04/quote_bg-1024x256-1.jpg)
}

.elementor-6 .elementor-element.elementor-element-06eb3a5>.elementor-background-overlay {
    opacity: 1;
    transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-6 .elementor-element.elementor-element-06eb3a5 {
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
    padding: 80px 0;
    overflow: visible
}

.elementor-6 .elementor-element.elementor-element-72c7c46>.elementor-element-populated {
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s
}

.elementor-6 .elementor-element.elementor-element-72c7c46>.elementor-element-populated>.elementor-background-overlay {
    transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-6 .elementor-element.elementor-element-9263287>.elementor-background-overlay {
    opacity: 1;
    transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-6 .elementor-element.elementor-element-9263287 {
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
    overflow: visible
}

.elementor-6 .elementor-element.elementor-element-962b475 .xs-heading {
    text-align: center
}

.elementor-6 .elementor-element.elementor-element-962b475 .xs-heading .section-title {
    color: #fff
}

.elementor-6 .elementor-element.elementor-element-962b475 .xs-heading .section-subtitle {
    color: #fff
}

.elementor-6 .elementor-element.elementor-element-b76b36c>.elementor-widget-container {
    margin: 50px 0 0;
    padding: 0
}

.elementor-6 .elementor-element.elementor-element-d94cefe>.elementor-container>.elementor-row>.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
    align-content: center;
    align-items: center
}

.elementor-6 .elementor-element.elementor-element-d94cefe {
    padding: 50px 0 70px;
    overflow: visible
}

.elementor-bc-flex-widget .elementor-6 .elementor-element.elementor-element-5d8188b.elementor-column .elementor-column-wrap {
    align-items: center
}

.elementor-6 .elementor-element.elementor-element-5d8188b.elementor-column.elementor-element[data-element_type=column]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
    align-content: center;
    align-items: center
}

.elementor-6 .elementor-element.elementor-element-ab66a69 {
    text-align: left
}

.elementor-bc-flex-widget .elementor-6 .elementor-element.elementor-element-693dfe6.elementor-column .elementor-column-wrap {
    align-items: center
}

.elementor-6 .elementor-element.elementor-element-693dfe6.elementor-column.elementor-element[data-element_type=column]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
    align-content: center;
    align-items: center
}

.elementor-6 .elementor-element.elementor-element-693dfe6>.elementor-element-populated>.elementor-widget-wrap {
    padding: 10px 10px 10px 40px
}

.elementor-6 .elementor-element.elementor-element-cff1c32 .xs-heading {
    text-align: left
}

.elementor-6 .elementor-element.elementor-element-cff1c32 .xs-heading .section-title {
    font-weight: 700
}

.elementor-6 .elementor-element.elementor-element-c31e4d7 {
    color: #000;
    font-family: nunito, Sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.7333333333em;
    letter-spacing: -.4px
}

.elementor-6 .elementor-element.elementor-element-c31e4d7>.elementor-widget-container {
    margin: 0 0 30px
}

.elementor-6 .elementor-element.elementor-element-215646f .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(15px/2)
}

.elementor-6 .elementor-element.elementor-element-215646f .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(15px/2)
}

.elementor-6 .elementor-element.elementor-element-215646f .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(15px/2);
    margin-left: calc(15px/2)
}

.elementor-6 .elementor-element.elementor-element-215646f .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-15px/2);
    margin-left: calc(-15px/2)
}

body.rtl .elementor-6 .elementor-element.elementor-element-215646f .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-15px/2)
}

body:not(.rtl) .elementor-6 .elementor-element.elementor-element-215646f .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-15px/2)
}

.elementor-6 .elementor-element.elementor-element-215646f .elementor-icon-list-icon i {
    color: #1868dd
}

.elementor-6 .elementor-element.elementor-element-215646f .elementor-icon-list-icon svg {
    fill: #1868dd
}

.elementor-6 .elementor-element.elementor-element-215646f {
    --e-icon-list-icon-size: 16px
}

.elementor-6 .elementor-element.elementor-element-215646f .elementor-icon-list-text {
    color: #192225;
    padding-left: 10px
}

.elementor-6 .elementor-element.elementor-element-215646f .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-6 .elementor-element.elementor-element-215646f .elementor-icon-list-item>a {
    font-family: nunito, Sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.7333333333em
}

.elementor-6 .elementor-element.elementor-element-215646f>.elementor-widget-container {
    margin: 0 0 40px -30px
}

.elementor-6 .elementor-element.elementor-element-6292b25:not(.elementor-motion-effects-element-type-background),
.elementor-6 .elementor-element.elementor-element-6292b25>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url(https://wp.xpeedstudio.com/seocify/wp-content/uploads/2018/10/process_bg.jpg);
    background-position: top left;
    background-repeat: no-repeat;
    background-size: cover
}

.elementor-6 .elementor-element.elementor-element-6292b25>.elementor-background-overlay {
    opacity: 1;
    transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-6 .elementor-element.elementor-element-6292b25 {
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
    padding: 90px 0 80px;
    overflow: visible
}

.elementor-6 .elementor-element.elementor-element-b2bef71>.elementor-element-populated {
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s
}

.elementor-6 .elementor-element.elementor-element-b2bef71>.elementor-element-populated>.elementor-background-overlay {
    transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-6 .elementor-element.elementor-element-ccbaf88 .xs-heading {
    text-align: center
}

.elementor-6 .elementor-element.elementor-element-ccbaf88 .xs-heading .section-title {
    color: #fff;
    font-weight: 700
}

.elementor-6 .elementor-element.elementor-element-ccbaf88 .xs-heading .section-subtitle {
    color: #fff
}
/* 
.elementor-6 .elementor-element.elementor-element-ccbaf88>.elementor-widget-container {
    margin: 0 0 44px
} */

.elementor-6 .elementor-element.elementor-element-441f5ec>.elementor-container {
    max-width: 935px
}

.elementor-6 .elementor-element.elementor-element-441f5ec>.elementor-background-overlay {
    opacity: 1;
    transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-6 .elementor-element.elementor-element-441f5ec {
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
    overflow: visible
}

.elementor-6 .elementor-element.elementor-element-22a33d4 {
    padding: 34px 0;
    overflow: visible
}

.elementor-6 .elementor-element.elementor-element-33c13e3 .xs-heading {
    text-align: center
}

.elementor-6 .elementor-element.elementor-element-33c13e3 .xs-heading .section-title {
    font-weight: 700
}

.elementor-6 .elementor-element.elementor-element-33c13e3 .xs-heading .section-subtitle {
    text-transform: uppercase
}

.elementor-6 .elementor-element.elementor-element-33c13e3>.elementor-widget-container {
    margin: 0 0 55px
}

.elementor-6 .elementor-element.elementor-element-97235ee .main-tabs .nav-item .nav-link {
    background-color: #ffffff3d;
    color: #fff;
    border-radius: 10px;
}

.elementor-6 .elementor-element.elementor-element-97235ee .main-tabs .nav-item .nav-link::before {
    border-top-color: #f7f7f7
}

.elementor-6 .elementor-element.elementor-element-97235ee .main-tabs .nav-item .nav-link.active {
    background-color: #ffffff3d;
    color: #fff;
}

.elementor-6 .elementor-element.elementor-element-97235ee .main-tabs .nav-item .nav-link.active::before {
    border-top-color: #fff
}

.elementor-6 .elementor-element.elementor-element-97235ee .main-tabs .nav-item .nav-link {
    font-weight: 400
}

.elementor-6 .elementor-element.elementor-element-97235ee .xs-content-title {
    color: #0c5adb
}

.elementor-6 .elementor-element.elementor-element-97235ee .xs-content-title {
    font-family: lato, Sans-serif;
    font-size: 1.6rem;
    font-weight: 700
}

.elementor-6 .elementor-element.elementor-element-97235ee .feature-text-content p {
    color: #7a7a7a
}

.elementor-6 .elementor-element.elementor-element-97235ee .btn-wraper .btn {
    background-color: #0c5adb;
    color: #fff
}

.elementor-6 .elementor-element.elementor-element-97235ee .btn-wraper .btn:hover {
    background-color: #00138e;
    color: #fff
}

.elementor-6 .elementor-element.elementor-element-b9709e5:not(.elementor-motion-effects-element-type-background),
.elementor-6 .elementor-element.elementor-element-b9709e5>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #f3f5f9
}

.elementor-6 .elementor-element.elementor-element-b9709e5 {
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
    padding: 90px 0 80px;
    overflow: visible
}

.elementor-6 .elementor-element.elementor-element-b9709e5>.elementor-background-overlay {
    transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-6 .elementor-element.elementor-element-7ee1a06 .xs-heading {
    text-align: center
}

.elementor-6 .elementor-element.elementor-element-7ee1a06 .xs-heading .section-title {
    font-weight: 700
}

.elementor-6 .elementor-element.elementor-element-7ee1a06>.elementor-widget-container {
    margin: 0 0 55px
}

.elementor-6 .elementor-element.elementor-element-1a47525 .xs-news-content {
    border-width: 0
}

.elementor-6 .elementor-element.elementor-element-1a47525 .single-case-studies {
    border-radius: 5px 5px 5px 5px
}

.elementor-6 .elementor-element.elementor-element-3a4ff38:not(.elementor-motion-effects-element-type-background),
.elementor-6 .elementor-element.elementor-element-3a4ff38>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #f8fafe
}

.elementor-6 .elementor-element.elementor-element-3a4ff38 {
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
    padding: 80px 0 75px;
    overflow: visible
}

.elementor-6 .elementor-element.elementor-element-3a4ff38>.elementor-background-overlay {
    transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-6 .elementor-element.elementor-element-45afde6 {
    overflow: visible
}

.elementor-6 .elementor-element.elementor-element-f13b2f5 .xs-heading {
    text-align: center
}

.elementor-6 .elementor-element.elementor-element-f13b2f5 .xs-heading .section-title {
    font-weight: 700
}

.elementor-6 .elementor-element.elementor-element-a1655a3 .pricing-header .price-table {
    color: #0c5adb
}

.elementor-6 .elementor-element.elementor-element-a1655a3 .btn-primary {
    color: #fff;
    background-color: #0c5adb
}

.elementor-6 .elementor-element.elementor-element-a1655a3 .xs-pricing-group .main-nav-tab.tab-swipe {
    background-color: #0c5adb
}

.elementor-6 .elementor-element.elementor-element-a1655a3 .btn-primary:hover {
    background-color: #00138e !important
}

.elementor-6 .elementor-element.elementor-element-a1655a3 .xs-single-pricing.active {
    background-color: #0c5adb
}

.elementor-6 .elementor-element.elementor-element-a1655a3 .xs-single-pricing.active .xs-content-title {
    color: #fff !important
}

.elementor-6 .elementor-element.elementor-element-a1655a3 .xs-single-pricing.active .pricing-header .price-table {
    color: #fff
}

.elementor-6 .elementor-element.elementor-element-a1655a3 .xs-single-pricing.active .btn-primary {
    color: #0c5adb;
    background-color: #fff
}

.elementor-6 .elementor-element.elementor-element-a1655a3 .xs-single-pricing.active .btn-primary:hover {
    color: #0c5adb
}

.elementor-6 .elementor-element.elementor-element-a1655a3 .xs-single-pricing.active .btn-primary:hover {
    background-color: #fff !important
}

.elementor-6 .elementor-element.elementor-element-a1655a3 .xs-single-pricing .pulse-anim {
    width: 165px;
    height: 165px
}

.elementor-6 .elementor-element.elementor-element-fca7bde:not(.elementor-motion-effects-element-type-background),
.elementor-6 .elementor-element.elementor-element-fca7bde>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #0c5adb
}

.elementor-6 .elementor-element.elementor-element-fca7bde {
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
    padding: 90px 0 70px;
    overflow: visible
}

.elementor-6 .elementor-element.elementor-element-fca7bde>.elementor-background-overlay {
    transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-6 .elementor-element.elementor-element-524f56e .xs-heading {
    text-align: center
}

.elementor-6 .elementor-element.elementor-element-524f56e .xs-heading .section-title {
    color: #fff;
    font-weight: 700
}

.elementor-6 .elementor-element.elementor-element-524f56e .xs-heading .section-title span {
    color: #fff
}

.elementor-6 .elementor-element.elementor-element-524f56e .xs-heading .line {
    color: #fff
}

.elementor-6 .elementor-element.elementor-element-524f56e .xs-heading .line:after {
    background-color: #fff
}

.elementor-6 .elementor-element.elementor-element-524f56e .xs-heading .section-subtitle {
    color: #fff
}

.elementor-6 .elementor-element.elementor-element-524f56e>.elementor-widget-container {
    margin: 0 0 55px
}

.elementor-6 .elementor-element.elementor-element-080bc2a .single-bio-thumb h4 {
    color: #fff
}

.elementor-6 .elementor-element.elementor-element-080bc2a .xs-seocify-testimonial-review>h4 {
    color: #fff
}

.elementor-6 .elementor-element.elementor-element-080bc2a .single-bio-thumb p {
    color: #fff
}

.elementor-6 .elementor-element.elementor-element-080bc2a .xs-seocify-testimonial-review>h5 {
    color: #fff
}

.elementor-6 .elementor-element.elementor-element-080bc2a .single-testimonial-preview p {
    color: #fff
}

.elementor-6 .elementor-element.elementor-element-080bc2a .single-testimonial-preview .border-line {
    background-color: #fff;
    box-shadow: 10px 0 0 0 transparent, 138px 0 0 #fff
}

.elementor-6 .elementor-element.elementor-element-080bc2a .xs-seocify-testimonial-review>p {
    color: #fff
}

.elementor-6 .elementor-element.elementor-element-080bc2a .big-watermark-icon .icon-quote {
    color: #fff
}

.elementor-6 .elementor-element.elementor-element-080bc2a>.elementor-widget-container {
    padding: 0 100px
}

.elementor-6 .elementor-element.elementor-element-d3feb9e {
    padding: 90px 0 0;
    overflow: visible
}

.elementor-6 .elementor-element.elementor-element-e885231 .xs-heading {
    text-align: center
}

.elementor-6 .elementor-element.elementor-element-e885231 .xs-heading .section-title {
    font-weight: 700
}

.elementor-6 .elementor-element.elementor-element-a97f913>.elementor-container>.elementor-row>.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
    align-content: flex-start;
    align-items: flex-start
}

.elementor-6 .elementor-element.elementor-element-a97f913 {
    padding: 30px 0 90px;
    overflow: visible
}

.elementor-6 .elementor-element.elementor-element-c353731>.elementor-element-populated {
    margin: 0;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px
}

.elementor-6 .elementor-element.elementor-element-c353731>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0 30px
}

.elementor-6 .elementor-element.elementor-element-52e2ff7 .xs-news-content {
    border-width: 0
}

.elementor-6 .elementor-element.elementor-element-64958cb:not(.elementor-motion-effects-element-type-background)>.elementor-column-wrap,
.elementor-6 .elementor-element.elementor-element-64958cb>.elementor-column-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #0c5adb
}

.elementor-6 .elementor-element.elementor-element-64958cb>.elementor-element-populated>.elementor-background-overlay {
    background-image: url(https://wp.xpeedstudio.com/seocify/wp-content/uploads/2018/09/envelop_shape.png);
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: auto;
    opacity: .5
}

.elementor-6 .elementor-element.elementor-element-64958cb>.elementor-element-populated,
.elementor-6 .elementor-element.elementor-element-64958cb>.elementor-element-populated>.elementor-background-overlay,
.elementor-6 .elementor-element.elementor-element-64958cb>.elementor-background-slideshow {
    border-radius: 5px 5px 5px 5px
}

.elementor-6 .elementor-element.elementor-element-64958cb>.elementor-element-populated {
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s
}

.elementor-6 .elementor-element.elementor-element-64958cb>.elementor-element-populated>.elementor-background-overlay {
    transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-6 .elementor-element.elementor-element-64958cb>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0
}

.elementor-6 .elementor-element.elementor-element-c5a2b6a {
    text-align: center
}

.elementor-6 .elementor-element.elementor-element-c5a2b6a .elementor-heading-title {
    color: #fff;
    font-family: lato, Sans-serif;
    font-size: 1.6rem;
    font-weight: 700
}

.elementor-6 .elementor-element.elementor-element-c5a2b6a>.elementor-widget-container {
    margin: 0 0 30px;
    padding: 0
}

.elementor-6 .elementor-element.elementor-element-73f5130 {
    --divider-border-style: solid;
    --divider-color: rgba(255, 255, 255, 0.502);
    --divider-border-width: 3px
}

.elementor-6 .elementor-element.elementor-element-73f5130 .elementor-divider-separator {
    width: 16%;
    margin: 0 auto;
    margin-center: 0
}

.elementor-6 .elementor-element.elementor-element-73f5130 .elementor-divider {
    text-align: center
}

.elementor-6 .elementor-element.elementor-element-389af73 {
    text-align: center;
    color: #a7baee
}

.elementor-6 .elementor-element.elementor-element-389af73>.elementor-widget-container {
    padding: 0 40px
}

.elementor-6 .elementor-element.elementor-element-4394c80 .elementskit_input_label {
    color: #000
}

.elementor-6 .elementor-element.elementor-element-4394c80 .ekit_form_control {
    font-size: 1rem;
    background-color: #00000066;
    border-style: solid;
    border-width: 0;
    padding: 14px 21px 15px
}

.elementor-6 .elementor-element.elementor-element-4394c80 .elementskit_input_wraper:not(:last-child) {
    margin-bottom: 38px
}

.elementor-6 .elementor-element.elementor-element-4394c80 .ekit_form_control::-webkit-input-placeholder {
    color: #a8b4c1;
    font-size: 16px
}

.elementor-6 .elementor-element.elementor-element-4394c80 .ekit_form_control::-moz-placeholder {
    color: #a8b4c1;
    font-size: 16px
}

.elementor-6 .elementor-element.elementor-element-4394c80 .ekit_form_control:-ms-input-placeholder {
    color: #a8b4c1;
    font-size: 16px
}

.elementor-6 .elementor-element.elementor-element-4394c80 .ekit_form_control:-moz-placeholder {
    color: #a8b4c1;
    font-size: 16px
}

.elementor-6 .elementor-element.elementor-element-4394c80 .ekit-mail-submit {
    font-size: 1rem;
    font-weight: 400;
    padding: 11px;
    border-style: solid;
    border-width: 1px;
    border-color: #ffffff80;
    width: 145px;
    color: #fff;
    background-color: #02010100
}

.elementor-6 .elementor-element.elementor-element-4394c80 .ekit-mail-submit svg path {
    stroke: #fff;
    fill: #fff
}

.elementor-6 .elementor-element.elementor-element-4394c80 .ekit-mail-submit:hover {
    color: #fff
}

.elementor-6 .elementor-element.elementor-element-4394c80 .ekit-mail-submit:hover svg path {
    stroke: #fff;
    fill: #fff
}

.elementor-6 .elementor-element.elementor-element-4394c80 .ekit-mail-submit:before {
    background-color: #00138e
}

.elementor-6 .elementor-element.elementor-element-4394c80 .elementskit_input_group_text i {
    color: #000
}

.elementor-6 .elementor-element.elementor-element-4394c80 .elementskit_input_group_text svg path {
    stroke: #000;
    fill: #000
}

.elementor-6 .elementor-element.elementor-element-4394c80 .elementskit_input_group_text {
    font-size: 10px
}

.elementor-6 .elementor-element.elementor-element-4394c80 .elementskit_input_group_text svg {
    max-width: 10px
}

.elementor-6 .elementor-element.elementor-element-4394c80>.elementor-widget-container {
    padding: 0 40px
}

@media(max-width:1024px) {
    .elementor-6 .elementor-element.elementor-element-080bc2a>.elementor-widget-container {
        padding: 0
    }

    .elementor-6 .elementor-element.elementor-element-c353731>.elementor-element-populated>.elementor-widget-wrap {
        padding: 0
    }

    .elementor-6 .elementor-element.elementor-element-64958cb>.elementor-element-populated>.elementor-widget-wrap {
        padding: 100px 0
    }
}

@media(max-width:767px) {
    .elementor-6 .elementor-element.elementor-element-d8c0e9d .why-choose-us-block {
        text-align: center
    }

    .elementor-6 .elementor-element.elementor-element-693dfe6>.elementor-element-populated>.elementor-widget-wrap {
        padding: 10px
    }

    .elementor-6 .elementor-element.elementor-element-c353731>.elementor-element-populated>.elementor-widget-wrap {
        padding: 0
    }

    .elementor-6 .elementor-element.elementor-element-64958cb>.elementor-element-populated {
        margin: 0;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px
    }

    .elementor-6 .elementor-element.elementor-element-64958cb>.elementor-element-populated>.elementor-widget-wrap {
        padding: 100px 0
    }
}

@media(min-width:768px) {
    .elementor-6 .elementor-element.elementor-element-c353731 {
        width: 69.593%
    }

    .elementor-6 .elementor-element.elementor-element-64958cb {
        width: 30.407%
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-6 .elementor-element.elementor-element-c353731 {
        width: 100%
    }

    .elementor-6 .elementor-element.elementor-element-64958cb {
        width: 50%
    }
}
.elementor-element-52c240b{
    height: 805px;
    background-image: url(../../../images/mainbanner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Add a background color and some padding around the form */
  .container {
    border-radius: 5px;
    padding: 20px;
  }
  .elementor-element-144daf9b{
    padding-top: 141px;
  }
  .elementor-element-6292b25a {
    background: linear-gradient(45deg, #7323d2, #2d63f7);
    padding: 50px;
  }
  .elementor-element-6292b25a .work-process-icon{
    line-height: 90px;
    width: 90px;
    height: 90px;
    border-radius: 9%;
  }
  .elementor-element-144daf9b{
    left: -63px;
  }
  .elementor-6 .elementor-element.elementor-element-d94cefe{
    background-image: url(../../../images/sec2bg.jpg);
    background-repeat: no-repeat;
    background-size: cover
  }
  #sec3bg{
    background-image: url(../../../images/sec3bg.jpg);
    background-repeat: no-repeat;
    background-size: cover
  }
  #sec4{
    background-image: url(../../../images/sec4bg.jpg);
    background-repeat: no-repeat;
    background-size: cover
  }
  .elementor-6 .elementor-element.elementor-element-22a33d4{
    background-image: url(../../../images/sec6bg.jpg);
    background-repeat: no-repeat;
    background-size: cover
  }

  @media only screen and (min-width:600px) and (max-width:1200px){
    .elementor-element-52c240b{
        height: 697px;
    }
    .elementor-element-144daf9b{
        padding-top: 93px;
        left: 217px;
    }
    .elementor-6 .elementor-element.elementor-element-52c240b{
        margin-left: -211px;
    }
    .elementor-element-144daf9b{
        width: 40% !important;
    }
    .elementor-6 .elementor-element.elementor-element-af7e844>.elementor-element-populated>.elementor-widget-wrap, .elementor-6 .elementor-element.elementor-element-82eda63>.elementor-element-populated>.elementor-widget-wrap, .elementor-6 .elementor-element.elementor-element-923a80d>.elementor-element-populated>.elementor-widget-wrap{
        padding: 10px 15px;
    }
  }
  @media only screen and (max-width:600px){
    .elementor-element-144daf9b{
        left: -2px;
    }
  }